jmx-addons-kannel/src/main/resources/META-INF/kannel/kannel-1.0.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema targetNamespace="urn:ietf:params:xml:ns:kannel-1.0"
           xmlns:kannel="urn:ietf:params:xml:ns:kannel-1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:annotation>
        <xs:documentation>
            Schema for status.xml from http://www.kannel.org/ 
        </xs:documentation>
    </xs:annotation>
    <xs:element name="gateway" type="kannel:gateway" />

    <xs:complexType name="gateway">
        <xs:all>
            <xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="wdp" type="kannel:stats" minOccurs="0" maxOccurs="1"/>
            <xs:element name="sms" type="kannel:stats" minOccurs="0" maxOccurs="1"/>
            <xs:element name="dlr" type="kannel:dlr" minOccurs="0" maxOccurs="1"/>
            <xs:element name="boxes" type="kannel:boxes" minOccurs="0" maxOccurs="1"/>
            <xs:element name="smscs" type="kannel:smscs" minOccurs="0" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="stats">
        <xs:all>
            <xs:element name="received" type="kannel:count" minOccurs="0" maxOccurs="1"/>
            <xs:element name="sent" type="kannel:count" minOccurs="0" maxOccurs="1"/>
            <xs:element name="storesize" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="inbound" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="outbound" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="count">
        <xs:all>
            <xs:element name="total" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="queued" type="xs:int" minOccurs="0" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="dlr">
        <xs:all>
            <xs:element name="queued" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="storage" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="boxes">
        <xs:all>
            <xs:element name="box" type="kannel:box" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="box">
        <xs:all>
            <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="IP" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="queue" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ssl" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="smscs">
        <xs:all>
            <xs:element name="count" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="smsc" type="kannel:smsc" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="smsc">
        <xs:all>
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="received" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="sent" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="failed" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="queued" type="xs:int" minOccurs="0" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>

</xs:schema>
